<!doctype html>
<html lang="ru">
<head>
  <title>{{ title | default("Инитум") }}</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  {% block styles %}{% endblock %}
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="https://mebel.blackfriday/wa-data/public/shop/themes/default/swipebox/css/swipebox.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="body">
  {% block body %}{% endblock %}
</div>

{% block scripts %}{% endblock %}
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
<script type="text/javascript" src="https://mebel.blackfriday/wa-data/public/shop/themes/default/swipebox/js/jquery.swipebox.js"></script>
<script src="https://mebel.blackfriday/wa-data/public/shop/themes/default/product.js?v3.2.5"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>
