<div class="advantages">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 item">
                <p class="header">Честные цены</p>
                <p>Цена товара на сайте - финальная. У нас нет скрытых наценок.</p>
            </div>
            <div class="col-lg-3 col-sm-6 item">
                <p class="header">Настоящие скидки</p>
                <p>Мы обещаем, что скидки не были накручены фиктивным образом.</p>  
            </div>
            <div class="col-lg-3 col-sm-6 item">
                <p class="header">Гарантия до 10 лет</p>
                <p>Мы гарантируем длительный срок работы мебели, потому что сайт закроется через месяц.</p>
            </div>
            <div class="col-lg-3 col-sm-6 item">
                <p class="header">Доставка за 1 день</p>
                <p>Мы сможем быстро доставить ваш заказ, потому что вся мебель лежит у нас на складе. Уже несколько лет.</p>  
            </div>
        </div>
    </div>
</div>