<div class="container">
    <div class="header {{ bordered }}">
        <div class="row">
            <div class="col-lg-4">
                <a href="#" class="logo">
                    <img src="assets/img/logo.png" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-lg-8">
                {% include './nav.twig' %}
                <div class="row">
                    <div class="col phone">
                        Звоните с 9:00 до 21:00
                        <a href="tel:+74957712008">+7 495 771 2008</a>
                    </div>
                    <div class="col cart">
                        <div class="align-bottom amount">
                            <span>0</span> ₽
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>