<div class="inside">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% include './breadcrumbs.twig' %}
            </div>
            <div class="col-lg-7 col-xl-8">
                <h2>Угловой Диван Сеул</h2>
                {% include './slider.twig' %}
            </div>
            <div class="col">
                {% include './price-block.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="assets/img/specs.png" class="specs-img">
            </div>
        </div>
    </div>
</div>
<hr>
<div class="inside">
    <div class="container">
        <div class="row specs">
            <div class="col-lg-7 col-xl-8">
                <h3>Подробные характеристики:</h3>
                <table cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td>Артикул</td>
                            <td>2016003200108</td>
                        </tr>
                        <tr>
                            <td>Стоимость доставки в пределах МКАД</td>
                            <td>1390</td>
                        </tr>
                        <tr>
                            <td>Сроки доставки Москва и МО, (дни)</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Материал обивки</td>
                            <td>Микровельвет</td>
                        </tr>
                        <tr>
                            <td>Механизм раскладки</td>
                            <td>Еврокнижка</td>
                        </tr>
                        <tr>
                            <td>Расположение угла</td>
                            <td>
                                Универсальное
                            </td>
                        </tr>
                        <tr>
                            <td>Материал каркаса</td>
                            <td>
                                Массив, ЛДСП, Фанера
                            </td>
                        </tr>
                        <tr>
                            <td>Наличие ящика для белья</td>
                            <td>да</td>
                        </tr>
                        <tr>
                            <td>Наполнитель</td>
                            <td>ППУ</td>
                        </tr>
                        <tr>
                            <td>Страна производитель</td>
                            <td>Россия</td>
                        </tr>
                        <tr>
                            <td>Гарантия (месяцев)</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <td>Цвет обивки</td>
                            <td>Коричневый</td>
                        </tr>
                        <tr>
                            <td>Ширина спального места (см)</td>
                            <td>133</td>
                        </tr>
                        <tr>
                            <td>Длина спального места (см)</td>
                            <td>196</td>
                        </tr>
                        <tr>
                            <td>Наличие подлокотников</td>
                            <td>нет</td>
                        </tr>
                        <tr>
                            <td>Длина дивана, см</td>
                            <td>196</td>
                        </tr>
                        <tr>
                            <td>Ширина (см)</td>
                            <td>196</td>
                        </tr>
                        <tr>
                            <td>Высота (см)</td>
                            <td>75</td>
                        </tr>
                        <tr>
                            <td>Глубина (см)</td>
                            <td>133</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <div class="promo">
                    <p>Лучшая в&nbsp;России цена для углового дивана &laquo;Сеул&raquo;.</p>
                    <p>Проверенное качество от&nbsp;современной фабрики, гарантия производителя и&nbsp;при этом&nbsp;&mdash; самая низкая честная цена. Только для &laquo;Чёрной пятницы&raquo;.</p>
                </div>
                {% include './price-block.twig' %}
            </div>
        </div>
    </div>
</div>