<div class="col-lg-4 col-md-6 item">
    <a href="#">
        <h2>{{itemTitle}}</h2>
        <img src="{{imgUrl}}" alt="" class="img-fluid">
        <div class="discount">{{discount}}</div>
        <div class="old-price"><span>{{oldPrice}}</span></div>
        <div class="price">
            <div class="profit">Экономия<br> {{profit}} р</div>
            <div class="new-price">{{newPrice}}</div>
        </div>
    </a>
</div>