<div class="container">
    <div class="list">
    {% for i in 0..1 %}
        <div class="row">
            {% set vars = {
                'itemTitle': 'Атланта &laquo;Рогожка&raquo;',
                'imgUrl': 'assets/img/photo1.png',
                'discount': '-47%',
                'oldPrice': '29.860',
                'profit': '13 870',
                'newPrice': '15 990'
            } %}
            {% include './item.twig' with vars %}

            {% set vars = {
                'itemTitle': 'Атланта &laquo;Антошка&raquo;',
                'imgUrl': 'assets/img/photo1.png',
                'discount': '-53%',
                'oldPrice': '37.860',
                'profit': '12 834',
                'newPrice': '25 990'
            } %}
            {% include './item.twig' with vars %}

            {% set vars = {
                'itemTitle': 'Атланта &laquo;Лукошко&raquo;',
                'imgUrl': 'assets/img/photo1.png',
                'discount': '-25%',
                'oldPrice': '57.864',
                'profit': '32 834',
                'newPrice': '32 990'
            } %}
            {% include './item.twig' with vars %}
        </div>
    
    {% include './black-friday-only.twig' %}
    {% endfor %}
    
        <div class="row">
            {% set vars = {
                'itemTitle': ' Стенка &laquo;Макарена&raquo;',
                'imgUrl': 'assets/img/photo2.png',
                'discount': '-47%',
                'oldPrice': '29.860',
                'profit': '13 870',
                'newPrice': '15 990'
            } %}
            {% include './item.twig' with vars %}

            {% set vars = {
                'itemTitle': 'Шкаф &laquo;Палермо&raquo; 1200',
                'imgUrl': 'assets/img/photo3.png',
                'discount': '-53%',
                'oldPrice': '37.860',
                'profit': '12 834',
                'newPrice': '25 990'
            } %}
            {% include './item.twig' with vars %}

            {% set vars = {
                'itemTitle': 'Стенка &laquo;Диско&raquo;',
                'imgUrl': 'assets/img/photo4.png',
                'discount': '-25%',
                'oldPrice': '57.864',
                'profit': '32 834',
                'newPrice': '32 990'
            } %}
            {% include './item.twig' with vars %}
        </div>
    
    {% include './black-friday-only.twig' %}
    </div>
</div>