<ul class="menu">
    <li>
        <a href="#">О компании</a>
    </li>
    <li>
        <a href="#">Настоящие скидки</a>
    </li>
    <li>
        <a href="#">Гарантия 10 лет</a>
    </li>
    <li>
        <a href="#">Доставка 1 день</a>
    </li>
</ul>