<div class="price-block striped">
    <div class="other-price">
        Цена в других магазинах <span>15000.-</span>
    </div>
    <div class="saving">
        <div class="discount">-27%</div>
        <div class="profit">Экономия<br><span>4 010</span>.-</div>
    </div>
    <p>Лучшая цена только здесь&nbsp;&mdash; для&nbsp;&laquo;Чёрной&nbsp;пятницы&raquo;</p>
    <div class="price">
        <div class="real-price"><span>10 990</span>.-</div>
        <a href="#" class="order">Заказать</a>
    </div>
</div>
