
      <figure class="product-gallery">

        <!-- main image -->
        <div class="image" id="product-core-image">
          <div class="corner top right">
          </div>
          <a href="https://mebel.blackfriday/wa-data/public/shop/products/13/00/13/images/16/16.970.jpg">
            <img itemprop="image" id="product-image" alt="Угловой товар Атланта New" title="Угловой товар Атланта New" src="https://mebel.blackfriday/wa-data/public/shop/products/13/00/13/images/16/16.750x0.jpg"
              class="">
          </a>
          <div id="switching-image" style="display: none;"></div>
        </div>
        <!-- thumbs -->
        <div class="more-images" id="product-gallery">
          <div class="image selected">
            <a id="product-image-16" href="https://mebel.blackfriday/wa-data/public/shop/products/13/00/13/images/16/16.970.jpg" class="swipebox">
              <img alt="Угловой товар Атланта New" title="Угловой товар Атланта New" src="https://mebel.blackfriday/wa-data/public/shop/products/13/00/13/images/16/16.96x96.jpg">
            </a>
          </div>
          <div class="image">
            <a id="product-image-17" href="https://mebel.blackfriday/wa-data/public/shop/products/13/00/13/images/17/17.970.jpg" class="swipebox">
              <img alt="Угловой товар Атланта New" title="Угловой товар Атланта New" src="https://mebel.blackfriday/wa-data/public/shop/products/13/00/13/images/17/17.96x96.jpg">
            </a>
          </div>
          <div class="image">
            <a id="product-image-18" href="https://mebel.blackfriday/wa-data/public/shop/products/13/00/13/images/18/18.970.jpg" class="swipebox">
              <img alt="Угловой товар Атланта New" title="Угловой товар Атланта New" src="https://mebel.blackfriday/wa-data/public/shop/products/13/00/13/images/18/18.96x96.jpg">
            </a>
          </div>
          <div class="image">
            <a id="product-image-19" href="https://mebel.blackfriday/wa-data/public/shop/products/13/00/13/images/19/19.970.jpg" class="swipebox">
              <img alt="Угловой товар Атланта New" title="Угловой товар Атланта New" src="https://mebel.blackfriday/wa-data/public/shop/products/13/00/13/images/19/19.96x96.jpg">
            </a>
          </div>
        </div>
      </figure>
