$main-color: rgb(255, 224, 0);
$border-radius:          0;
$border-radius-lg:       0;
$border-radius-sm:       0;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px
  )