{% extends "core/layout.twig" %}
{% set title = "mebel" %}

{% block body %}
  {% set bordered="bordered" %}
  {% include 'blocks/header.twig'%}
  {% include 'blocks/advantages.twig' %}
  {% include 'blocks/list.twig' %}
  {% include 'blocks/advantages.twig' %}
  {% include 'blocks/footer.twig' %}
  <div class="container">
    {% include 'blocks/yellow-line.twig' %}
  </div>
{% endblock %}
