{% extends "core/layout.twig" %}
{% set title = "mebel" %}

{% block body %}
  {% include 'blocks/header.twig' %}
  {% include 'blocks/inside.twig' %}
  {% include 'blocks/black-friday-only.twig' %}
  {% include 'blocks/advantages.twig' %}
  {% include 'blocks/footer.twig' %}
  {% include 'blocks/yellow-line.twig' %}
{% endblock %}
